*
{
  box-sizing: border-box;
}
body 
{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 10px;
}
h1, h3, h4
{
  font-family: arial;
  text-align: center;
}


table, th, td
{
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 0;
  font-family: arial;
  font-size: 12px;
}
table
{
  margin: auto;
  max-width: 90%;
  margin-bottom: 20px;
}
th, td
{
  padding: 5px;
}

tr:nth-child(even) 
{
  background-color: yellow;
}


/*.titulo*/th
{
  position: sticky;
  top: 0;
  border-bottom: 2px solid black;
  background: white;
}

#botoesEscolha
{
  display: flex;
  justify-content: space-between;
}
.botaoHorario
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: yellow;
  border: 2px solid black;
  border-radius: 10px;
  font-family: arial;
  font-size: 12px;
  width: 60px;
  height: 60px;
  -webkit-user-select: none;
  user-select: none;
}
#conteudo
{
  font-family: arial;
  margin-top: 20px;
}

#container
{
  max-width: 400px;
  margin: auto;
}

.comRestricao
{
  background: red !important; 
  color: white;
}

.direto
{
  background: green !important;
  color: white;
}